@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

/* ===== Initializing ===== */
* {
    margin: 0;
    padding: 0;
}

/* ===== Canvas ===== */
div.canvas {
    width: 801px;
    margin: 0 auto;
}